.pz-query-field > div {
  display: inline;
}

#pz-query-fields .pz-conjunction[disabled] {
  visibility: hidden;
}

#pz-query-date > div > * {
  display: inline;
}

.pz-info,
.pz-search-info {
  height: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.pz-search-button input {
  margin-right: 5px;
}

.pz-md-description {
  color: grey;
}

.pz-one-result {
  border-bottom: 1px dashed gray;
}

.pz-results dt {
  margin-bottom: 5px;
  margin-top: 5px;
}

.pz-navigation > * {
  margin: 0 3px;
}

/* Facets blocks */
.pz-facet-link-enabled {
  color: black;
}
